{% for type, messages in app.session.flashbag.all() %}
    {% if type == 'success' %}
        {% set flashbagClass = 'alert alert-success alert-dismissible flashbag' %}
    {% else %}
        {% set flashbagClass = 'alert alert-danger alert-dismissible flashbag' %}
    {% endif %}
    {% for message in messages %}
        <div class="{{ flashbagClass }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}