/*body {*/
    /*margin: 10px;*/
/*}*/

.modal-body {
    text-align: center;
}

#logInLogOutToolbar {
    background-color: #33CC33;
    padding-left: 15px;
}

#profilePicture {
    width: 3%;
    height: 3%;
    padding: 5px;
    margin-left: 10px;
}

.makeSpace {
    margin-left: 5px;
    margin-right: 5px;
}

#forumLogoToolbar {
    background-color: #009900;
}

#forumLogo {
    width: 15%;
    height: 15%;
    margin-left: 5px;
}