body {
    margin: 10px;
}

header img {
    width: 64px;
    height: 80px;
}

.modal-body {
    text-align: center;
}

.flashbagSuccess {
    background-color: green;
}

.flashbagFail {
    background-color: red;
}