#topicPageTable {
    border: none;
}

.transparency100 {
    opacity: 0;
    height: 30px;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.noResults {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.memberAvatarColumn {
    width: 5%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.memberUsername {
    width: 55%;
    padding: 10px;
}

.memberDateCreated {
    width: 15%;
    padding: 10px;
}

.memberMessages {;
    width: 10%;
    padding: 10px;
}

.memberActions {
    width: 15%;
    text-align: center;
    padding: 10px;
}