<h1>Forget password - Forum AlinIlici</h1>
<br/>

<h3>
    Your new password is: {{ data.newPassword }}
</h3>
<h3>
    The username and email are:
</h3>
<h4>
    username: {{ data.user.username }}
    <br/>
    email: {{ data.user.email }}
</h4>
<br/>

<h2>
    Enjoy our community,
    <br/>
    Forum AlinIlici
</h2>