<h1>Welcome to `Forum AlinIlici`, {{ data.firstName }} {{ data.lastName }}!</h1>
<br/>

<h2>Thank you for joining the forum.</h2>

<h3>
    Your username and password are:
</h3>
<h4>
    username: {{ data.username }}
    <br/>
    password: {{ data.password }}
</h4>
<br/>

<h2>
    Enjoy our community,
    <br/>
    Forum AlinIlici
</h2>